
body{
 background-color: #f6f3f6;
 overflow-x: hidden;
}
.Profile{
  display: flex;
  flex-direction: column;
  width:100vw;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.Avatar{
 border-radius: 50%;
}

